input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.about-image {
  /* width: 100%; */
  /* height: 100%; */
  /* object-fit: cover; */
  /* z-index: 2; */
  /* position: absolute; */
}

/* .about-image::before {
  mix-blend-mode: overlay;
} */

.about-inverted-text {
  user-select: none;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* font-size: 9rem; */
  /* font-weight: bold; */
  color: black;
  /* mix-blend-mode: difference; */
}

.about-inverted-text-black {
  user-select: none;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9rem; */
  /* font-weight: bold; */
  mix-blend-mode: overlay;
  color: white;
}
/* 
.about-inverted-text-black-bg {
  user-select: none;
  color: red;
} */
