.nav-item {
  display: inline-block;
  position: relative;
}

.nav-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.9px; 
  width: 100%; 
  background-color: black;
  transform: scaleX(0); 
  transform-origin: right; 
  transition: transform 0.6s cubic-bezier(0.3, 0.8, 0.25, 0.8);
}

.nav-item:hover::after {
  transform: scaleX(1); 
  transform-origin: left;
}