@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.white-dim {
  transition: color 1s ease-in-out;
}

.white-dim:hover {
  color: #7F7F7F;
}

.hover-dim5 {
  transition: opacity 0.2s ease-in-out;
}

.hover-dim5:hover {
  opacity: 0.5;
}

.hover-dim7:hover {
  opacity: 0.5;
}

.select-dark {
  color: #7F7F7F;
  transition: color 1s ease-in-out;
}

.select-dark:hover {
  color: black;
}





/* Project Title Fonts */

/* Sephir */
@font-face {
  font-family: 'Sephir';
  src: url('/public/fonts/sephir/Sephir-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.sephir {
  font-family: 'Sephir', sans-serif;
}

/* Glyce */
@font-face {
  font-family: 'Glyce';
  src: url('/public/fonts/glyce/Glyce-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.glyce {
  font-family: 'Glyce', sans-serif;
}

/* Caster */
@font-face {
  font-family: 'Caster';
  src: url('/public/fonts/caster-demo/Caster.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.caster {
  font-family: 'Caster', sans-serif;
}

/* Abygaer */
@font-face {
  font-family: 'Abygaer';
  src: url('/public/fonts/abygaer/Abygaer.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.abygaer {
  font-family: 'Abygaer', sans-serif;
}




/* Nav Bar Serif Fonts */
/* Klivora */
@font-face {
  font-family: 'Klivora';
  src: url('/public/fonts/klivora/Klivora.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.klivora {
  font-family: 'Klivora', sans-serif;
}

/* Sandemore */
@font-face {
  font-family: 'Sandemore';
  src: url('/public/fonts/sandemore/SandeMore-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.sandemore {
  font-family: 'Sandemore', sans-serif;
}

/* Medio */
@font-face {
  font-family: 'Medio';
  src: url('/public/fonts/medio/Medio.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.medio {
  font-family: 'Medio', sans-serif;
}

/* Mollie */
@font-face {
  font-family: 'Mollie';
  src: url('/public/fonts/mollie/MollieGlaston.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.mollie {
  font-family: 'Mollie', sans-serif;
}




/* ARCHIVES FONTS */
/* Kayonest */
@font-face {
  font-family: 'kayonest';
  src: url('/public/fonts/kayonest/Kayonest.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.kayonest {
  font-family: 'Kayonest', sans-serif;
}

/* Quorina */
@font-face {
  font-family: 'quorina';
  src: url('/public/fonts/quorina/Quorina.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.quorina {
  font-family: 'Quorina', sans-serif;
}

/* seraphinem */
@font-face {
  font-family: 'seraphinem';
  src: url('/public/fonts/seraphinem/seraphinem.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.seraphinem {
  font-family: 'Seraphinem', sans-serif;
}
