.loginBox {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: white;
}

/* Heading */
.heading {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

/* Input styling */
.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

/* Button styling */
.button {
  padding: 7px 14px;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

.button:hover {
  background-color: #BBBBBB;
}

